html,#header,#main{
   background-color:#B0C4DE;
  font-size:20px;
}
#header{
  text-align:center;
  margin-top: 180px;
  position:relative;
}
#weiki{
  font-family:'SimHei';
  font-style:italic;
  font-weight:bold;
  font-size:50px;
  position:relative;
}
#search{
  height:40px;
  width:70%;
  background-color:#fff;
  border-radius:8px;
  text-indent:5px;
}
#search:focus{
  background-color:#EEE5DE;
}
.btn{
  height:40px;
  width:50px;
  border-radius:8px;
}
i{
  font-size:28px;
  background-color:#fff;
  
}
.random{
  font-size:24px;
  margin-top:20px;
}
.content{
  border:1px solid #B0C4DE;
  width:73%;
  margin:0 auto;
  border-radius:5px;
  background-color:#EEE5DE;
  display: none;
}
li{
  background-color:#EEE5DE;
  border-bottom:1px solid #BEBEBE;
  font-size:16px;
}
.title{
  text-decoration:underline;
  font-size:20px;
}